div.nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

  }

  div.nav li {
    float: left;
  }

  div.nav li a {

    display: block;
    color: #666;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;

  }

  div.nav li a:hover:not(.active) {
    background-color: #ddd;

  }

  div.nav li a.active {
    color: white;
    background-color: #04AA6D;
  }

  
  h1{
    color:#6600cc
  }

  footer {
text-align: center;
padding: 3px;
background-color: rgb(0, 255, 128);
color: rgb(0, 0, 0);
}

.neonText{
  animation: flicker 1.5s infinite;
  alternate;
  color: #fff;
}

h1{
  font-size: 6.rem;
}
/* Flickering animation */
@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100%{

text-shadow:
0 0 7px #fff,
0 0 10px#fff ,
0 0 21px #fff,
0 0 42px #f09,
0 0 82px #f09,
0 0 92px #f09,
0 0 102px #f09,
0 0 151px #f09 
  }
  20%, 24%, 55% {
    text-shadow: none;
  }

